<div class="row">
  <div class="col-xs-12 col-md-4">
    <h1 class="text-center">Find Movies</h1>

    <div class="row">
      <form id="movie-search">
        <div class="col-xs-8">
          <input type="text" name="s" class="form-control" placeholder="Enter Movie Name">
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>

  </div>

  <div class="col-xs-12 col-md-8">
    <div id="movies">

    </div>
  </div>
</div>
